.loki {
    display: flex;                     
    justify-content: center;           
    align-items: center;              
    height: 100vh;                     
}

.loki-image {
    width: 300px;                     
    height: auto;                      
    max-width: 100%;                  
}